# Page de base (héritage TWIG)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LPSIO</title>
</head>
<body>
    <section>
        <h1>Bienvenue</h1>
        <p>Bienvenue sur LPSIO, retrouvez l'ensemble de nos offres.</p>
    </section>
</body>
</html>